# yarn ng update @angular/core@13 @angular/cli@13
# Error fetching metadata for '@angular/core': request to https://registry.yarnpkg.com/@angular%2fcore failed, reason: unable to get local issuer certificate
# Possible fix using strict-ssl
# https://github.com/angular/angular-cli/issues/17314

strict-ssl=false