// renderer
#rendererViewport {
  width: calc(100vw - 20px);
  height: 80vh;
  background-color: #adadad;

  *:focus {
    outline: 0 !important;
  }
}

.viewer-buttons-container {
  text-align: center;
  margin: 20px auto auto auto;
}
